interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/periodo-parlamentario
  response:
    body:
      string: '{"code":200,"status":"success","data":[{"perParId":2026,"desPerPar":"Periodo
        Parlamentario 2026 - 2031","desPerParAbrev":"2026-2031","fecIni":"2026-07-27
        00:00:00.0","fecFin":"2031-07-26 00:00:00.0","activo":true,"periodosLegislativos":[{"perParId":2026,"perLegId":2026,"desPerLeg":"2026
        - 2027","desPerLegAbrev":"2026","fecIni":"2026-07-27 00:00:00.0","fecFin":"2027-07-26
        00:00:00.0","activo":true}]},{"perParId":2021,"desPerPar":"Periodo Parlamentario
        2021 - 2026","desPerParAbrev":"2021-2026","fecIni":"2021-07-22 00:00:00.0","fecFin":"2026-07-26
        00:00:00.0","activo":true,"periodosLegislativos":[{"perParId":2021,"perLegId":2021,"desPerLeg":"2021
        - 2022","desPerLegAbrev":"2021","fecIni":"2021-07-27 00:00:00.0","fecFin":"2022-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2022,"desPerLeg":"2022
        - 2023","desPerLegAbrev":"2022","fecIni":"2022-07-27 00:00:00.0","fecFin":"2023-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2023,"desPerLeg":"2023
        - 2024","desPerLegAbrev":"2023","fecIni":"2023-07-27 00:00:00.0","fecFin":"2024-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2024,"desPerLeg":"2024
        - 2025","desPerLegAbrev":"2024","fecIni":"2024-07-27 00:00:00.0","fecFin":"2025-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2025,"desPerLeg":"2025
        - 2026","desPerLegAbrev":"2025","fecIni":"2025-07-27 00:00:00.0","fecFin":"2026-07-26
        00:00:00.0","activo":true}]}],"timestamp":"2026-08-19T20:48:55.714-05:00"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"page":0,"size":300,"perParId":2026}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.congreso.gob.pe/spley-portal-service/proyecto-ley/lista-con-filtro
  response:
    body:
      string: "{\"code\":200,\"status\":\"success\",\"data\":{\"proyectos\":[{\"perParId\":2026,\"pleyNum\":1,\"proyectoLey\":\"00001-2026-2031-CR\",\"desEstado\":\"PRESENTADO\",\"fecPresentacion\":\"2026-08-14T00:00:00.000-05:00\",\"titulo\":\"CUENTA
        GENERAL DE LA REP\xDABLICA CORRESPONDIENTE AL EJERCICIO FISCAL 2025\",\"desProponente\":\"PODER
        EJECUTIVO\",\"autores\":\"\",\"codTipoParl\":\"C\",\"codTipoParlActual\":\"C\",\"rowsTotal\":0}],\"rowsTotal\":0},\"timestamp\":\"2026-08-19T20:48:56.189-05:00\"}"
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/secciones
  response:
    body:
      string: '{"code":404,"status":"No handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/secciones","message":"No
        handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/secciones","timestamp":"2026-08-19T20:49:18.036-05:00"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/opinion-ciudadana
  response:
    body:
      string: '{"code":404,"status":"No handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/opinion-ciudadana","message":"No
        handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/opinion-ciudadana","timestamp":"2026-08-19T20:49:18.093-05:00"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/documentacion
  response:
    body:
      string: '{"code":404,"status":"No handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/documentacion","message":"No
        handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/documentacion","timestamp":"2026-08-19T20:49:18.093-05:00"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/acumulados
  response:
    body:
      string: '{"code":404,"status":"No handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/acumulados","message":"No
        handler found for GET /spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q/acumulados","timestamp":"2026-08-19T20:49:18.307-05:00"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/expediente/ICnrsvoH7U-3Sjp2uTAa2A/TGt54DUjVCeW2NVOughS7Q
  response:
    body:
      string: "{\"code\":200,\"status\":\"success\",\"data\":{\"general\":{\"pleyId\":20805,\"perParId\":2021,\"proyectoLey\":\"14864/2025-CR\",\"desPerParAbrev\":\"2021-2026\",\"desLegis\":\"Segunda
        Legislatura Ordinaria 2025\",\"fecPresentacion\":\"2026-07-22\",\"desProponente\":\"Congreso\",\"titulo\":\"PROYECTO
        DE LEY QUE RESTITUYE LA COMPETENCIA DE LA JURISDICCI\xD3N ORDINARIA SOBRE
        LOS PROCESOS PENALES SEGUIDOS CONTRA MILITARES Y POLIC\xCDAS\",\"sumilla\":\"PROPONE
        RESTITUIR LA COMPETENCIA DE LA JURISDICCI\xD3N ORDINARIA PARA CONOCER LOS
        PROCESOS PENALES SEGUIDOS CONTRA MIEMBROS DE LAS FUERZAS ARMADAS Y DE LA POLIC\xCDA
        NACIONAL DEL PER\xDA POR HECHOS QUE NO CONSTITUYAN DELITOS DE FUNCI\xD3N,
        GARANTIZANDO EL DERECHO AL JUEZ NATURAL Y EL CAR\xC1CTER EXCEPCIONAL DE LA
        JURISDICCI\xD3N MILITAR POLICIAL, DE CONFORMIDAD CON LA CONSTITUCI\xD3N POL\xCDTICA.
        PARA ELLO, SE DEJAN SIN EFECTO LAS DISPOSICIONES DE LA LEY 32735 QUE PERMITEN
        EL DESPLAZAMIENTO DE LA JURISDICCI\xD3N ORDINARIA Y EL ARCHIVO DE LOS PROCESOS
        PENALES TRAMITADOS ANTE ELLA\",\"desGpar\":\"Bloque Democr\xE1tico Popular\",\"estadoId\":1,\"desEstado\":\"PRESENTADO\",\"publico\":true,\"proyectoArchivoId\":null,\"nombreArchivo\":null,\"observaciones\":\"\"},\"comisiones\":[],\"seguimientos\":[{\"fecha\":\"2026-07-22T00:00:00.000-05:00\",\"desEstado\":\"PRESENTADO\",\"desComisiones\":null,\"detalle\":\"PROYECTO
        DE LEY QUE RESTITUYE LA COMPETENCIA DE LA JURISDICCI\xD3N ORDINARIA SOBRE
        LOS PROCESOS PENALES SEGUIDOS CONTRA MILITARES Y POLIC\xCDAS\",\"observacion\":\"PROYECTO
        DE LEY QUE RESTITUYE LA COMPETENCIA DE LA JURISDICCI\xD3N ORDINARIA SOBRE
        LOS PROCESOS PENALES SEGUIDOS CONTRA MILITARES Y POLIC\xCDAS\",\"flagInicial\":true,\"pleyId\":20805,\"archivos\":[{\"proyectoArchivoId\":411380,\"seguimientoPleyId\":104111,\"seccionId\":8,\"pleyId\":20805,\"uuid\":\"2909cdee-d2c0-4c13-8b73-2f4b006b170f\",\"fecha\":\"2026-07-22\",\"nombreArchivo\":\"PL
        14864.pdf\",\"descripcion\":\"PL 14864\",\"enlace\":null,\"publico\":true,\"activo\":true}],\"seguimientoPleyId\":104111}],\"acumulados\":[],\"documentosAnexos\":[],\"fases\":[{\"faseId\":1,\"fase\":\"Presentado\",\"orden\":1,\"tipo\":2},{\"faseId\":2,\"fase\":\"Enviado
        a Comisiones\",\"orden\":2,\"tipo\":0},{\"faseId\":3,\"fase\":\"En Comisiones\",\"orden\":3,\"tipo\":0},{\"faseId\":4,\"fase\":\"Debate
        en Pleno\",\"orden\":4,\"tipo\":0},{\"faseId\":5,\"fase\":\"Enviado al Ejecutivo\",\"orden\":5,\"tipo\":0},{\"faseId\":6,\"fase\":\"Ley
        Publicada\",\"orden\":6,\"tipo\":0},{\"faseId\":8,\"fase\":\"EN DEBATE DE
        LA COMISI\xD3N PERMANENTE\",\"orden\":8,\"tipo\":0},{\"faseId\":9,\"fase\":\"EN
        AGENDA DE LA COMISI\xD3N PERMANENTE\",\"orden\":9,\"tipo\":0}],\"firmantes\":[{\"firmanteId\":92463,\"tipoFirmanteId\":1,\"congresistaId\":71,\"nombre\":\"Luque
        Ibarra, Ruth\",\"dni\":\"40204874\",\"sexo\":\"F\",\"pagWeb\":\"https://www3.congreso.gob.pe/congresistas2021/RuthLuque/\"},{\"firmanteId\":92464,\"tipoFirmanteId\":2,\"congresistaId\":17,\"nombre\":\"Baz\xE1n
        Narro, Sigrid Tesoro\",\"dni\":\"72200895\",\"sexo\":\"F\",\"pagWeb\":\"https://www3.congreso.gob.pe/congresistas2021/SigridBazan/\"},{\"firmanteId\":92465,\"tipoFirmanteId\":2,\"congresistaId\":92,\"nombre\":\"Paredes
        Piqu\xE9, Susel Ana Mar\xEDa\",\"dni\":\"08185259\",\"sexo\":\"F\",\"pagWeb\":\"https://www3.congreso.gob.pe/congresistas2021/SuselParedes/\"}],\"secciones\":[{\"seccionId\":1,\"parentSeccionId\":1,\"desSeccion\":\"Presentaci\xF3n
        del proyecto de ley (Art. 74 RCR)\",\"flagComision\":false,\"flagEstado\":false,\"comisionId\":null,\"orden\":1,\"activo\":true},{\"seccionId\":2,\"parentSeccionId\":2,\"desSeccion\":\"Env\xEDo
        a comisiones (Art. 77 RCR)\",\"flagComision\":false,\"flagEstado\":false,\"comisionId\":null,\"orden\":2,\"activo\":true},{\"seccionId\":3,\"parentSeccionId\":3,\"desSeccion\":\"Estudio
        en comisiones (Art. 77 RCR)\",\"flagComision\":false,\"flagEstado\":false,\"comisionId\":null,\"orden\":3,\"activo\":true},{\"seccionId\":4,\"parentSeccionId\":4,\"desSeccion\":\"Debate
        y apr[...]
