interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www2.congreso.gob.pe/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&Start=1&Count=1000&ExpandView
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\">\n<html>\n<head>\n\n<script
        language=\"JavaScript\" type=\"text/javascript\">\n<!-- \nfunction openWindow(a)\r{\rpath=location.href.toLowerCase();\rnsfPos=path.indexOf('.nsf');\rdb=path.substring(0,nsfPos+5);\rfilename
        =  a\rwindow.open(filename ,'uno',\"top=30,left=250, toolbar=no,,resizable=yes,location=no,scrollbars=no,directories=no,height=760,width=780\")\r}\rfunction
        abredoc(a)\r{\rpath=location.href.toLowerCase();\rnsfPos=path.indexOf('.nsf');\rdb=path.substring(0,nsfPos+5);\rfilename
        = db +a \rwindow.open(filename,'dos','top=40,left=350, toolbar=no,location=no,scrollbars=yes,resize=yes,directories=no,height=690,width=850')\r}\rfunction
        vent(a)\r{\rwindow.open(a,'ventana','title=\"Documento de Dictamen\", top=20,left=250,
        toolbar=no,location=no,scrollbars=yes,resizable=yes,directories=no,height=800,width=850')\r}\r\n//
        -->\n</script>\n\n<script language=\"JavaScript\" type=\"text/javascript\">\n<!--
        \ndocument._domino_target = \"_self\";\nfunction _doClick(v, o, t, h) {\n
        \ var form = document._new_agendapleno;\n  if (form.onsubmit) {\n     var
        retVal = form.onsubmit();\n     if (typeof retVal == \"boolean\" && retVal
        == false)\n       return false;\n  }\n  var target = document._domino_target;\n
        \ if (o.href != null) {\n    if (o.target != null)\n       target = o.target;\n
        \ } else {\n    if (t != null)\n      target = t;\n  }\n  form.target = target;\n
        \ form.__Click.value = v;\n  if (h != null)\n    form.action += h;\n  form.submit();\n
        \ return false;\n}\n// -->\n</script>\n</head>\n<body text=\"#000000\" bgcolor=\"#FFFFFF\">\n\n<form
        method=\"post\" action=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&amp;Start=1&amp;Count=1000&amp;ExpandView&amp;Seq=1\"
        name=\"_new_agendapleno\">\n<input type=\"hidden\" name=\"__Click\" value=\"0\">\t<!--
        CODIGO GOOGLE ANALITYCS 14/03/2013 --- --- --- --- --- --- --- --- --- ---
        --- --- -- >\n\t<!-- colocado el 16/04/2014 --->\n\t<script type=\"text/javascript\">\n\t
        \ var _gaq = _gaq || [];\n\t  _gaq.push(['_setAccount', 'UA-33823413-1']);\n\t
        \ _gaq.push(['_setDomainName', 'congreso.gob.pe']);\n\t  _gaq.push(['_setAll
        \  \towLinker', true]);\n\t  _gaq.push(['_trackPageview']);\n\t  (function()
        {\n\t\tvar ga = document.createElement('script'); ga.type = 'text/javascript';
        ga.async = true;\n\t\tga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www') + '.google-analytics.com/ga.js';\n\t\tvar s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);\n\t  })();\n\t</script>\n\t<!-- FIN CODIGO
        GOOGLE ANALITYCS 14/03/2013 --->\n<table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr
        valign=\"top\"><td width=\"28\"><img width=\"1\" height=\"1\" src=\"/icons/ecblank.gif\"
        border=\"0\" alt=\"\"></td><td width=\"102\"><a href=\"\" onclick=\"return
        _doClick('052578D5004DB953.872274711e3177a105257d600078c4d2/$Body/0.6A2',
        this, null)\"></a></td><td width=\"102\"><a href=\"\" onclick=\"return _doClick('052578D5004DB953.872274711e3177a105257d600078c4d2/$Body/0.7AC',
        this, null)\"></a></td><td width=\"102\"><a href=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&amp;Start=1&amp;Count=1000&amp;ExpandView&amp;Seq=1\"
        target=\"_self\"><img src=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/872274711e3177a105257d600078c4d2/$Body/0.904?OpenElement&amp;FieldElemFormat=gif\"
        width=\"81\" height=\"16\" border=\"0\"></a></td><td width=\"94\"><a href=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&amp;Start=1&amp;Count=1000&amp;CollapseView&amp;Seq=1\"
        target=\"_self\"><img src=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/872274711e3177a105257d600078c4d2/$Body/0.C30?OpenElement&amp;FieldElemFormat=gif\"
        width=\"81\" height=\"16\" border=\"0\"></a></td></tr>\n</table>\n\n<table
        border=\"0\" cellpadding=\"2\" cellspacing=\"0\">\n<tr><th><img width=\"16\"
        height=\"1\" src=\"/icons/ecblank.gif\" border=\"0\" alt=\"\"></th><th><img
        width=\"16\" height=\"1\" src=\"/icons/ecblank.gif\" border=\"0\" alt=\"\"></th><th><img
        width=\"16\" height=\"1\" src=\"/icons/ecblank.gif\" border=\"0\" alt=\"\"></th><th></th><th></th><th></th></tr>\n\n<tr
        valign=\"top\"><td colspan=\"5\">\n<table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr
        valign=\"top\"><td><a href=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&amp;Start=1&amp;Count=1000&amp;Collapse=1&amp;Seq=1\"
        target=\"_self\"><img src=\"/icons/collapse.gif\" border=\"0\" height=\"16\"
        width=\"16\" alt=\"Hide details for Congreso de la Rep\xFAblica - Periodo
        Parlamentario 2021 - 2026\"></a></td><td><font face=\"Arial\">Congreso de
        la Rep\xFAblica - Periodo Parlamentario 2021 - 2026</font></td></tr>\n</table>\n</td><td></td></tr>\n\n<tr
        valign=\"top\"><td>\n<table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n<tr
        valign=\"top\"><td></td></tr>\n</table>\n</td><td colspan=\"4\">\n<table border=\"0\"
        cellspacing=\"0\" cellpadding=\"0\">\n<tr valign=\"top\"><td><a href=\"/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&amp;Start=1&amp;Count=100[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www2.congreso.gob.pe/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/Apleno/042584C5955AA07705258E1E00511398/$FILE/AGENDA-PLENO-23-06-2026.pdf
  response:
    body:
      string: !!binary |
        JVBERi0xLjcNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFu
        ZyhlcykgL1N0cnVjdFRyZWVSb290IDU0MSAwIFIvTWFya0luZm88PC9NYXJrZWQgdHJ1ZT4+L01l
        dGFkYXRhIDU0MTggMCBSL1ZpZXdlclByZWZlcmVuY2VzIDU0MTkgMCBSPj4NCmVuZG9[...]
