interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congreso.gob.pe/spley-portal-service/periodo-parlamentario
  response:
    body:
      string: '{"code":200,"status":"success","data":[{"perParId":2026,"desPerPar":"Periodo
        Parlamentario 2026 - 2031","desPerParAbrev":"2026-2031","fecIni":"2026-07-27
        00:00:00.0","fecFin":"2031-07-26 00:00:00.0","activo":true,"periodosLegislativos":[{"perParId":2026,"perLegId":2026,"desPerLeg":"2026
        - 2027","desPerLegAbrev":"2026","fecIni":"2026-07-27 00:00:00.0","fecFin":"2027-07-26
        00:00:00.0","activo":true}]},{"perParId":2021,"desPerPar":"Periodo Parlamentario
        2021 - 2026","desPerParAbrev":"2021-2026","fecIni":"2021-07-22 00:00:00.0","fecFin":"2026-07-26
        00:00:00.0","activo":true,"periodosLegislativos":[{"perParId":2021,"perLegId":2021,"desPerLeg":"2021
        - 2022","desPerLegAbrev":"2021","fecIni":"2021-07-27 00:00:00.0","fecFin":"2022-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2022,"desPerLeg":"2022
        - 2023","desPerLegAbrev":"2022","fecIni":"2022-07-27 00:00:00.0","fecFin":"2023-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2023,"desPerLeg":"2023
        - 2024","desPerLegAbrev":"2023","fecIni":"2023-07-27 00:00:00.0","fecFin":"2024-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2024,"desPerLeg":"2024
        - 2025","desPerLegAbrev":"2024","fecIni":"2024-07-27 00:00:00.0","fecFin":"2025-07-26
        00:00:00.0","activo":true},{"perParId":2021,"perLegId":2025,"desPerLeg":"2025
        - 2026","desPerLegAbrev":"2025","fecIni":"2025-07-27 00:00:00.0","fecFin":"2026-07-26
        00:00:00.0","activo":true}]}],"timestamp":"2026-08-19T21:21:54.986-05:00"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"page":0,"size":3,"perParId":2026,"codTipoParl":"C"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.congreso.gob.pe/spley-portal-service/proyecto-ley/lista-con-filtro
  response:
    body:
      string: "{\"code\":200,\"status\":\"success\",\"data\":{\"proyectos\":[{\"perParId\":2026,\"pleyNum\":1,\"proyectoLey\":\"00001-2026-2031-CR\",\"desEstado\":\"PRESENTADO\",\"fecPresentacion\":\"2026-08-14T00:00:00.000-05:00\",\"titulo\":\"CUENTA
        GENERAL DE LA REP\xDABLICA CORRESPONDIENTE AL EJERCICIO FISCAL 2025\",\"desProponente\":\"PODER
        EJECUTIVO\",\"autores\":\"\",\"codTipoParl\":\"C\",\"codTipoParlActual\":\"C\",\"rowsTotal\":0}],\"rowsTotal\":0},\"timestamp\":\"2026-08-19T21:21:56.083-05:00\"}"
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
