interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://senado.congreso.gob.pe/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"es-PE\" class=\"scroll-smooth scroll-pt-10\">\n<head>\n<meta
        name=\"MobileOptimized\" content=\"width\" />\n<meta name=\"HandheldFriendly\"
        content=\"true\" />\n<meta name=\"generator\" content=\"Drupal 11 (https://www.drupal.org)\"
        />\n\n\t<meta charset=\"UTF-8\">\n\t\t<title>Senadores - Congreso del Per\xFA</title>\n\t<meta
        name=\"description\" content=\"Congreso del Per\xFA\">\n\t<meta name=\"HandheldFriendly\"
        content=\"true\" />\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n\t<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n\t<link
        rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n\t<link
        href=\"https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap\"
        rel=\"stylesheet\">\n\n\t<script defer src=\"https://senado.congreso.gob.pe/themes/ae0f09cd83/assets/js/alpine-tailwind-lightbox.min.js\"></script>\n\t<script
        defer src=\"https://senado.congreso.gob.pe/themes/ae0f09cd83/assets/js/alpine-focus.js\"></script>\n\n\t<meta
        name='robots' content='max-image-preview:large' />\n\t<style>img:is([sizes=\"auto\"
        i], [sizes^=\"auto,\" i]) { contain-intrinsic-size: 3000px 1500px }</style>\n\t<link
        rel=\"alternate\" href=\"https://senado.congreso.gob.pe/\" hreflang=\"es\"
        />\n<link rel=\"alternate\" href=\"https://senado.congreso.gob.pe/en/\" hreflang=\"en\"
        />\n<style id='classic-theme-styles-inline-css' type='text/css'>\n/*! This
        file is auto-generated */\n.wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-sha[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://diputados.congreso.gob.pe/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"es\" class=\"scroll-smooth scroll-pt-10\">\n<head>\n<meta
        name=\"MobileOptimized\" content=\"width\" />\n<meta name=\"HandheldFriendly\"
        content=\"true\" />\n<meta name=\"generator\" content=\"Drupal 11 (https://www.drupal.org)\"
        />\n\n\t<meta charset=\"UTF-8\">\n\t\t<title>Diputados - Congreso del Per\xFA</tit[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.congreso.gob.pe/home/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"es\" class=\"scroll-smooth scroll-pt-10\">\n<head>\n<meta
        name=\"MobileOptimized\" content=\"width\" />\n<meta name=\"HandheldFriendly\"
        content=\"true\" />\n<meta name=\"generator\" content=\"Drupal 11 (https://www.drupal.org)\"
        />\n\n\t<meta charset=\"UTF-8\">\n\t\t<title>Portal Institucional e Informaci\xF3n
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www2.congreso.gob.pe/Sicr/RelatAgenda/PlenoComiPerm20112016.nsf/new_agendapleno?OpenForm&Start=1&Count=1000&ExpandView
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\">\n<html>\n<head>\n\n<script
        language=\"JavaScript\" type=\"text/javascript\">\n<!-- \nfunction openWindow(a)\r{\rpath=location.href.toLowerCase();\rnsfPos=path.indexOf('.nsf');\rdb=path.substring(0,nsf[...]
